.header {
  height: 200px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.task-view {
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-view table {
  border-spacing: 0 8px;
}

.task-view table td,
.task-view table th {
  padding: 20px 20px;
}

.task-view table th {
  text-align: left;
}

.task-view table tr td:nth-child(2) {
  width: 300px;
}

.task-view table tr {
  background-color: #25252533;
}

.task-view table tr:nth-child(1) {
  background-color: blue;
  color: white;
}
